svg.injected-svg {
        fill: #F8FAFF;
}

.allImg{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 290px;
}
.bubbles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        height: 280px;
        width: 1027px;
}

.cloud{
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
}

.rImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
}

