svg.injected-svg {
        fill: #F8FAFF;
}

.allImg{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 290px;
}
.bubbles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        height: 280px;
        width: 1027px;
}

.cloud{
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 1;
}

.rImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.text{
        font-family: 'Onest';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        color: #7C8EB5;
}


