.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper > div{
    width: 1216px;
}

.nameTopic{
    font-family: 'Onest';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #37476A;
    display: flex;
    align-items: center;
}
